Assignment2-Section1Client/Connected Services/EmployeeClient/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assignment2_Section1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_RetrieveEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_RetrieveEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_RetrieveEmployeeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveEmployeeByID" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_RetrieveEmployeeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveEmployeeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="RetrieveEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/RetrieveEmployees" message="tns:IEmployeeService_RetrieveEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/RetrieveEmployeesResponse" message="tns:IEmployeeService_RetrieveEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveEmployeeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/RetrieveEmployeeByID" message="tns:IEmployeeService_RetrieveEmployeeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/RetrieveEmployeeByIDResponse" message="tns:IEmployeeService_RetrieveEmployeeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployees" message="tns:IEmployeeService_AddEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployeesResponse" message="tns:IEmployeeService_AddEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployees" message="tns:IEmployeeService_UpdateEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployeesResponse" message="tns:IEmployeeService_UpdateEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployees" message="tns:IEmployeeService_DeleteEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployeesResponse" message="tns:IEmployeeService_DeleteEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/RetrieveEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveEmployeeByID">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/RetrieveEmployeeByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/AddEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/UpdateEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/DeleteEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:8081/EmployeeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>